.limit-height {
    height: 100%;
}

#projects-sidebar-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 10px;
    padding: 3px 15px;
    right: 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px #ffffff;
}

#mindmap {
    position: absolute;
    top: 55px;
    bottom: 0;
}

#mindmap .vis-network:focus {
    outline: none;
}

.source-view-subtitle {
    margin-bottom: 7px;
}

.footer-btn {
    margin: 5px 20px 20px 20px;
}

#new-project-form {
    margin: 5px;
}

#new-project-name {
    margin-bottom: 10px;
}

.center-header-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* My Knolist styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


#my-knolist-header-img {
    width: 12vw;
    display: inline-block;
    margin-left: 1vw;
}

body {
    overflow: hidden; /* Avoids the entire page shifting on modal opening */
}

#myknolist-main-container {
    position: absolute;
    left: 21vw;
    top: 11.5vh;
    right: 2vw;
}

.myknolist-title {
    font-weight: bold;
    font-size: 2em;
    font-family: "Poppins";
    float: left;
}

.myknolist-container {
    width: 100%;
    float: left;
}

.react-router-styling { /* remove React Router styling (Links are transpiled to <a>) */
    text-decoration: none;
    color: inherit;
}

.react-router-styling:hover {
    color: inherit;
}